@import './bootstrap_custom.scss';

html, body{
  background-color: #1D1D1D;
  height:100%;
  color: #C9C5BE;
}

.container{
  min-height: 100%;
}

.navbar{
  margin: auto;
  width: 100%;
}

@media (min-width: 576px) {
  .navbar {
    max-width: 540px; } }

@media (min-width: 768px) {
  .navbar {
    max-width: 720px; } }

@media (min-width: 992px) {
  .navbar {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .navbar {
    max-width: 1140px; } }

//sidebar

.avatarcontainer {
  margin: auto;
  width: 70px;
  height: 70px;
  display: block; }

.avatar {
  width: 100%;
  border: 2px solid #ffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }

.avatar img {
  width: 65px;
  height: 65px; }

.sidebar-nav {
  word-break: break-all;
}
//chat

.chat, .users
{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  height: 250px;
}

.chat li
{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat #name
{
  color: #0096b3;
}

.chat #my_name
{
  color: #46f446;
}

.users li
{
  margin-bottom: 5px;
}

.users li img
{
  height: 30px;
  width: 30px;
}

//theme

.avatar {
  border-color: rgb(51, 51, 51);
}

html, body {
  background-color: rgb(28, 29, 30);
  color: rgb(201, 197, 190);
}

.bg-dark {
  background-color: rgb(55, 58, 61) !important;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.bg-dark {
  background-color: rgb(55, 58, 61) !important;
}

.form-control {
  color: rgb(202, 198, 190);
  background-color: rgb(24, 26, 27);
  border-color:rgb(54, 63, 72);
}

.btn-primary:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 99, 204);
  border-color: rgb(0, 103, 214);
}

* {
  scrollbar-color: #2a2c2e #1c1e1f;
}
