@import './bootstrap_custom.scss';

html, body{
  background-color: #1D1D1D;
  height:100%;
  color: #C9C5BE;
}

.container{
  min-height: 100%;
}

.navbar{
  margin: auto;
  width: 100%;
}

@media (min-width: 576px) {
  .navbar {
    max-width: 540px; } }

@media (min-width: 768px) {
  .navbar {
    max-width: 720px; } }

@media (min-width: 992px) {
  .navbar {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .navbar {
    max-width: 1140px; } }

//sidebar

.avatarcontainer {
  margin: auto;
  width: 70px;
  height: 70px;
  display: block; }

.avatar {
  width: 100%;
  border: 2px solid #ffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }

.avatar img {
  width: 65px;
  height: 65px; }

//chat

.chat, .users
{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  height: 250px;
}

.chat li
{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat #name
{
  color: #0096b3;
}

.chat #my_name
{
  color: #46f446;
}

.users li
{
  margin-bottom: 5px;
}

.users li img
{
  height: 30px;
  width: 30px;
}